---
#bascic common packages installation
- name : Install common packages
  dnf:
    name: "{{common_packages}}"
    state: present
    update_cache: yes
  tags: :packages
# Configure firewalld
- name: Configure firewalld - Install firewalld
  dnf:
    name: firewalld
    state: present
  tags: :security

- name: Start and enable firewalld
  systemd:
    name: firewalld
    enabled: yes
    state: started
  tags: :security

- name: Allow services through firewall
  firewalld:
    service: "{{ item }}"
    permanent: yes
    state: enabled
    immediate: yes
  loop:
    - ssh
    - http
    - https
  tags: :security

#automatic updates configuration
- name: Install dnf-automatic for automatic upodates
  dnf:
    name: dnf-automatic
    state: present
  tags: :updates

- name: Ensure dnf-automatic config exists
  copy:
    content: |
      [commands]
      apply_updates = yes
    dest: /etc/dnf/automatic.conf
    owner: root
    group: root
    mode: '0644'
  tags: security

- name: Enable and start dnf-automatic timer
  systemd:
    name: dnf-automatic.timer
    enabled: yes
    state: started
  tags: :updates